.star-after{
    content: "";
    width: 15%;
    height: 4px;
    position: absolute;
    background-color: #2c3e50;
    left: 55%;
    border-radius: 5px;
}
.star-before{
    content: "";
    width: 15%;
    height: 4px;
    position: absolute;
    background-color: #2c3e50;
    right: 55%;
    border-radius: 5px;
}