<div class="green-color ">
    <div class="container d-flex justify-content-center align-items-center about text-center">
        <div>
            <h1 class="">ABOUT COMPONENT</h1>
            <app-star></app-star>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-start">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                            source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for
                            easy customization.</p>
                    </div>
                    <div class="col-md-6 text-start">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                            source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for
                            easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>