<nav class="navbar navbar-expand-lg nav-design blue-color">
    <div class="container p-3">
      <a class="navbar-brand text-white h1 brand" routerLink="home" >START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-white justify-content-end" id="navbarNav">
        <ul class="nav">
            <li class="nav-item">
              <a routerLink="about" routerLinkActive="green-color rounded-pill" class="nav-link text-white">ABOUT</a>
            </li>
            <li class="nav-item">
              <a routerLink="portfolio" routerLinkActive="green-color rounded-pill"  class="nav-link text-white">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a routerLink="gallary" routerLinkActive="green-color rounded-pill" class="nav-link text-white">GALLARY</a>
            </li>
            <li class="nav-item">
              <a routerLink="contact" routerLinkActive="green-color rounded-pill" class="nav-link text-white">CONTACT</a>
            </li>
            
          </ul>
      </div>
    </div>
  </nav>