
<section class="p-5">
    <h1 class="pt-4 text-center">GALLARY COMPONENT</h1>
    <app-star-dark></app-star-dark>
    <hr>
    <div class="row g-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div *ngFor="let images of imagesURL ; index as index" class="col rounded-3">
          <div class="position-relative">
            <img class="w-100 rounded-3" src="{{images}}" alt="poert1">
            <div [style]="'background-color:#1abc9ce6;'" (click)="openLightBox();currentImageIndex(index)"
              class="d-flex justify-content-center align-items-center layer rounded-3 position-absolute top-0 bottom-0 start-0 end-0">
              <i _ngcontent-dov-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'d-none':flag}" (click)="closeLightBox($event)" [style]="'background-color:rgba(0,0,0,.25);'"
        class="lightbox position-fixed top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
        <div class=" position-relative">
          <button class="text-white btn btn-secondary position-absolute top-0 end-0 m-3"><i
              class="fa-solid fa-xmark"></i></button>
          <img (click)="imgLightBox($event)" [style]="'width:600px;'" class="rounded-3" [src]="imagesURL[currentImage]"
            alt="poert1">
        </div>
      </div>  
</section>
<hr>

<h2 [style]="'background-color:#2c3e50;'" class="text-center">Recommend product</h2>
<hr>
<div class="d-flex justify-content-center align-items-center">
    <button #lolo class="btn btn-outline-success m-auto">show recommendation products</button>
</div>

<hr>

@defer (on interaction( lolo )) {
    <app-recommended-products></app-recommended-products>
}