h1{
    color: #2c3e50;
    font-weight: 700;
}
.col .layer {
    opacity: 0;
    cursor: pointer;
    transition: all 0.6s;
  }
  .col .layer:hover {
    opacity: 1;
  }
  
  .lightbox {
    z-index: 1050;
    cursor: pointer;
  }
  
  .lightbox img {
    cursor: initial;
  }